@charset "utf-8";
/* CSS Document */
.error_content {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    padding: 30px 0;
}

.error_num {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 24px;
    color: #a0a0a0;
    padding-left: 48px;
}

.left404 {
    float: left;
}

.right404 {
    float: left;
    color: #263658;
    width: 280px;
    height: 253px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding-left: 16px;
    padding-top: 145px;
}

.backhome {
    height: 38px;
    line-height: 28px;
    padding-left: 92px;
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
}

.wrongtext {
    color: #a1224b;
    clear: right;
    display: inline;
}

input.validateError {
    color: #ff6600;
    background-color: #fff8ef;
}

label.validateError {
    color: #a1224b;
    clear: right;
    display: inline;
}

