#ctabs,#ctab {
  color:#111;
  width:680px;
  height:100%;
  margin:0px auto;
  min-width:500px;
}
.indextab li { list-style:none; float:left; width:100px; text-align:left; }
.indextab ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:10px Verdana;
  color:#FFF;
  background:#444;border-radius:4px; border:1px solid ##444;
}
.indextab ul a:hover {
  color:#FFF;
  background:#111;
  }
.indextab ul a.selected {
  margin-bottom:0;
  color:#000;
  background:#888888;
  border-bottom:1px solid snow;
  cursor:default;
  }
.indextab div {
  padding:10px 0px 0px 0px;
  clear:left;
  background:snow;
  font:10pt Georgia;
}
