<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springmodules.org/schema/ehcache
	http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd">
	<!-- Annotation Initilization -->

	<!-- 调度程序配置 -->
	<bean id="jobDetail_productPriceCalculateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.ProductPriceCalculateJobImpl" />
	</bean>

	<bean id="jobDetail_productRushPriceCalculateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.ProductRushPriceCalculateJobImpl" />
	</bean>

	<bean id="jobDetail_MemberDRankCalculateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.MemberDRankCalculateJobImpl" />
	</bean>

	<bean id="jobDetail_MemberRankUpCalculateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.MemberRankUpJob" />
	</bean>

	<bean id="jobDetail_MemberRankDownCalculateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.MemberRankDownJob" />
	</bean>

	<bean id="jobDetail_AutoCancelUnPaidOrderJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.AutoCancelUnPaidOrderJobImpl" />
	</bean>

	<bean id="jobDetail_AutoUpdateCouponStatusJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.AutoUpdateCouponStatusJobImpl" />
	</bean>

	<bean id="jobDetail_ProductsSearchIndexsBuildJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.ProductsSearchIndexsBuildJobImpl" />
	</bean>
	<!--by zlq 定时向用户发送库存数邮件-->
	<bean id="jobDetail_SendMail4OnHandJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.SendMail4OnHandJobImpl" />
	</bean>
	
	<!-- 报表定时任务/每天 -->
	<bean id="jobDetail_ReportExportByDayJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.ReportExportJobByDayImpl" />
	</bean>	 
	<!-- 报表定时任务/每周 -->
	<bean id="jobDetail_ReportExportByWeekJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.ReportExportJobByWeekImpl" />
	</bean>	
	<!-- 报表定时任务/每月 -->
	<bean id="jobDetail_ReportExportByMonthJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.ReportExportJobByMonthImpl" />
	</bean>	
	<!--

	<bean id="jobDetail_MemberRankCalculateJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.ibm.sc.task.impl.MemberRankCalculateJobImpl" />
	</bean>
	<bean id="jobDetail_AutoCheckOrderIfCompleteJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.ibm.sc.task.impl.AutoCheckOrderIfCompleteJobImpl" />
	</bean>
	<bean id="jobDetail_AutoApproveOrderJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.AutoApproveOrderJobImpl" />
	</bean>
	<bean id="jobDetail_AutoUpdateVirtualCardStatusJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.ibm.sc.task.impl.AutoUpdateVirtualCardStatusJobImpl" />
	</bean>
	<bean id="jobDetail_cartCookieInvalidJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="com.ibm.sc.task.impl.CartCookieInvalidJobImpl" />
	</bean>
	-->



    <!-- ============ 定时设置 ============ -->
    <!-- 注意：当前以数据库表为准 QRTZ_CRON_TRIGGERS -->

	<!-- 计算单品直减价 和 会员折扣价，每天0:00运行（注：需要在运行索引之前执行） -->
	<bean id="cronTrigger_productPriceCalculateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_productPriceCalculateJob" />
		<!--<property name="cronExpression" value="0 0 0 * * ?" />-->
		<property name="cronExpression" value="0 40 * * * ?" />
	</bean>

	<!-- 计算单品抢购价，每天1:00运行（注：需要在运行索引之前执行） -->
	<bean id="cronTrigger_productRushPriceCalculateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_productRushPriceCalculateJob" />
		<property name="cronExpression" value="0 0 1 * * ?" />
	</bean>
	<!-- 向用户发送 库存数 邮件，每天2:30运行 -->
	<bean id="cronTrigger_SendMail4OnHandJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_SendMail4OnHandJob" />
		<property name="cronExpression" value="0 30 2 * * ?" />
	</bean>
	<!-- 计算会员的有效积分，每半年运行一次，1月(和7月)1日2:00运行 -->
	<bean id="cronTrigger_MemberDRankCalculateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_MemberDRankCalculateJob" />
		<property name="cronExpression" value="0 0 2 1 1,7 ?" />
	</bean>

	<!-- 会员升级任务，每月1日2:30运行 -->
	<bean id="cronTrigger_MemberRankUpCalculateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_MemberRankUpCalculateJob" />
		<property name="cronExpression" value="0 30 2 1 1,2,3,4,5,6,7,8,9,10,11,12 ?" />
	</bean>

	<!-- 会员降级任务，每年1月1日3:00运行 -->
	<bean id="cronTrigger_MemberRankDownCalculateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_MemberRankDownCalculateJob" />
		<property name="cronExpression" value="0 0 3 1 1 ?" />
	</bean>

	<!-- 自动取消未支付订单，每1个小时执行一次，将超时2个小时(配置在config.xml)的订单取消掉 -->
	<bean id="cronTrigger_AutoCancelUnPaidOrderJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_AutoCancelUnPaidOrderJob" />
		<property name="cronExpression" value="0 0 * * * ?" />
	</bean>

	<!-- 券过期状态更新 -->
	<bean id="cronTrigger_AutoUpdateCouponStatusJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_AutoUpdateCouponStatusJob" />
		<property name="cronExpression" value="0 0 12 * * ?" />
	</bean>

	<!-- 全量建Solr索引，每天2:00运行（注：需要在计算促销价格之后执行） -->
	<bean id="cronTrigger_ProductsSearchIndexsBuildJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_ProductsSearchIndexsBuildJob" />
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>

	<!-- 报表数据导出，每天3:00运行,导出前一天报表  -->
	<bean id="cronTrigger_ReportExportByDayJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_ReportExportByDayJob" />
		<property name="cronExpression" value="0 0 3 * * ?" />
	</bean>
	
	<!-- 报表数据导出，每周一3:30运行，导出前一周报表 -->
	<bean id="cronTrigger_ReportExportByWeekJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_ReportExportByWeekJob" />
		<property name="cronExpression" value="0 30 3 ? * MON" />
	</bean>
	<!-- 报表数据导出，每月1日4:00运行，导出前一月报表 -->
	<bean id="cronTrigger_ReportExportByMonthJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_ReportExportByMonthJob" />
		<property name="cronExpression" value="0 0 4 1 * ?" />
	</bean>
	<!--
	
	<bean id="cronTrigger_MemberRankCalculateJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_MemberRankCalculateJob" />
		<property name="cronExpression" value="0 0 2 1 1 ?" />
	</bean>
	<bean id="cronTrigger_AutoCheckOrderIfCompleteJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_AutoCheckOrderIfCompleteJob" />
		<property name="cronExpression" value="0 0 4 * * ?" />
	</bean>
	<bean id="cronTrigger_AutoApproveOrderJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_AutoApproveOrderJob" />
		<property name="cronExpression" value="0 0 11 * * ?" />
	</bean>
	<bean id="cronTrigger_AutoUpdateVirtualCardStatusJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_AutoUpdateVirtualCardStatusJob" />
		<property name="cronExpression" value="0 0 12 * * ?" />
	</bean>
	<bean id="cronTrigger_cartCookieInvalidJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail_cartCookieInvalidJob" />
		<property name="cronExpression" value="0 0 4 * * ?" />
	</bean>
	-->

	<bean id="schedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">

		<property name="configLocation" value="classpath:quartz.properties" />

		<!-- 引用 sc-service/spring-service.xml 中配置的datasource的名称 -->
		<property name="dataSource" ref="dataSource" />

		<property name="triggers">
			<list>
				<ref local="cronTrigger_AutoCancelUnPaidOrderJob" />
				<!--
				<ref local="cronTrigger_productPriceCalculateJob" />
				<ref local="cronTrigger_ReportExportByMonthJob" />
				<ref local="cronTrigger_productRushPriceCalculateJob" />
				<ref local="cronTrigger_ReportExportByDayJob" />
				<ref local="cronTrigger_ReportExportByWeekJob" />
				<ref local="cronTrigger_AutoUpdateCouponStatusJob" />
				<ref local="cronTrigger_ProductsSearchIndexsBuildJob"/>
				
				<ref local="cronTrigger_SendMail4OnHandJob" />
				<ref local="cronTrigger_MemberRankUpCalculateJob" />
				<ref local="cronTrigger_MemberRankDownCalculateJob" />
				<ref local="cronTrigger_MemberDRankCalculateJob" />
				<ref local="cronTrigger_MemberRankCalculateJob" />
				<ref local="cronTrigger_AutoCheckOrderIfCompleteJob" />
				<ref local="cronTrigger_AutoApproveOrderJob" />
				<ref local="cronTrigger_AutoUpdateVirtualCardStatusJob" />
				-->
			</list>
		</property>
	</bean>


</beans>