@charset "utf-8";
#pager ul.pages, #articlePager {
	display: block;
	float: right;
	margin: 3px;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	height: 18px;
	padding: 10px 0px;
}

#pager ul.pages li, #articlePager li  {
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	list-style: none;
	float: left;
	margin: 3px 5px 0px 0px;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #cccccc;
}

#pager ul.pages li:hover, #articlePager li:hover {
	border: 1px solid #003f7e;
}
#articlePager li a{
	display: block;
	_width:100%;
	_height:100%
}
#pager ul.pages li.pgEmpty {
	color: #cfcfcf;
	cursor: default;
	border: 1px solid #cfcfcf;
}

#pager ul.pages li.pgCurrent, #articlePager li.currentPage{
	color: #00000;
	font-weight: 700;
	border: 1px solid #fd6d01;
	background-color: #ffede1;
}

#pager ul.pages li.pgFirstEmpty {
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -90px -180px no-repeat;
}
#pager ul.pages li.pgFirst {
	cursor: pointer;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -60px -180px no-repeat;
}

#pager ul.pages li.pgPrevEmpty {
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -30px -180px no-repeat;
}
#pager ul.pages li.pgPrev {
	cursor: pointer;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) 0px -180px no-repeat;
}
#pager ul.pages li.pgNextEmpty {
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -30px -210px no-repeat;
}
#pager ul.pages li.pgNext {
	cursor: pointer;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) 0px -210px no-repeat;
}
#pager ul.pages li.pgLastEmpty {
	cursor: default;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -90px -210px no-repeat;
}
#pager ul.pages li.pgLast {
	cursor: pointer;
	border: 1px solid #cccccc;
	background: url(../images/list.gif) -60px -210px no-repeat;
}
#pager ul.pages li.pgLast:hover,#pager ul.pages li.pgNext:hover,#pager ul.pages li.pgPrev:hover ,#pager ul.pages li.pgFirst:hover{
	border: 1px solid #003f7e;
}